@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --f-plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
    --c-dark-slate: hsl(202, 55%, 16%);
    --c-700-slate: hsl(200, 24%, 40%);
    --c-300-slate: hsl(203, 41%, 72%);
    --c-100-slate: hsl(202, 86%, 94%);
    --c-lime: hsl(61, 70%, 52%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--f-plus-jakarta-sans);
}

body {
    background-color: hsl(202, 86%, 94%);
}

/* MAIN */

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 80px;
}

/*

    MORTGAGE CALCULATOR

*/

.mortgage-calculator {
    background-color: white;
    width: 900px;
    border-radius: 1rem;
    box-shadow: 0 0 15px rgba(0,0,0,0.08);
    border: 1px solid rgba(0,0,0,0.1);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
}

/* 

    MORTGAGE CALCULATOR LEFT 
    
*/

.mortgage-calculator-left {
    padding: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

/* MORTGAGE CALCULATOR LEFT HEADER CLEAR */

.mortgage-calculator-left-header-clear {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mortgage-calculator-left-header {
    color: var(--c-dark-slate);
}

.mortgage-calculator-left-clear {
    color: var(--c-700-slate);
    border: 0;
    background-color: transparent;
    outline: none;
    font-size: 1rem;
    text-decoration: underline;
    cursor: pointer;
}

.mortgage-calculator-left-clear:hover {
    color: var(--c-dark-slate);
}

/* MORTGAGE CALCULATOR LEFT FORM */

.mortgage-calculator-left-form {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

/* MORTGAGE CALCULATOR LEFT FORM BUTTON */

.mortgage-calculator-left-form-button {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    height: 45px;
    border-radius: 1.5rem;
    border: 0;
    background-color: var(--c-lime);
    cursor: pointer;
}

.mortgage-calculator-left-form-button-text {
    color: var(--c-dark-slate);
    font-size: 1rem;
    font-weight: 700;
}

.mortgage-calculator-left-form-button:hover {
    background-color: hsl(61, 84%, 52%);
}

.mortgage-calculator-left-form-button:active {
    background-color: hsl(61, 85%, 43%);
}

/* MORTGAGE CALCULATOR LEFT FORM INPUT CONTAINER */

.mortgage-calculator-left-form-input-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

/* MORTGAGE CALCULATOR LEFT FORM INPUT LABEL */

.mortgage-calculator-left-form-input-label {
    color: var(--c-700-slate);
}

/* MORTGAGE CALCULATOR LEFT FORM INPUT CONTAINER ITSELF */

.mortgage-calculator-left-form-input-container-itself {
    height: 40px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: white;
    border: 1px solid var(--c-700-slate);
    border-radius: 0.2rem;
    overflow: hidden;
}

.mortgage-calculator-left-form-input-svg {
    color: var(--c-700-slate);
    background-color: var(--c-100-slate);
    height: 100%;
    width: 40px;
    padding: 9px;
}

.mortgage-calculator-left-form-input-itself {
    border: 0;
    outline: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 700;
    padding-inline: 10px;
    color: var(--c-dark-slate);
    width: 100%;
}

.mortgage-calculator-left-form-input-error,
.mortgage-calculator-left-form-input-radio-error {
    color: red;
    font-weight: 500;
    font-style: italic;
    font-size: 0.9rem;
    display: none;
}

.mortgage-calculator-left-form-input-radio-error-active {
    display: unset;
}

.mortgage-calculator-left-form-input-container-itself:hover {
    border: 1px solid var(--c-dark-slate);
}

.mortgage-calculator-left-form-input-container-itself:focus-within {
    border: 1px solid var(--c-lime);
}

.mortgage-calculator-left-form-input-container-itself:focus-within .mortgage-calculator-left-form-input-svg {
    color: var(--c-dark-slate);
    background-color: var(--c-lime);
}

/* MORTGAGE TERM AND INTEREST RATE */

.mortgage-calculator-left-form-mortgage-term-interest-rate {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.mortgage-calculator-left-form-input-container-itself-two {
    height: 40px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background-color: white;
    border: 1px solid var(--c-700-slate);
    border-radius: 0.2rem;
    overflow: hidden;
}

.mortgage-calculator-left-form-input-inner-label {
    color: var(--c-700-slate);
    background-color: var(--c-100-slate);
    padding-inline: 12px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mortgage-calculator-left-form-input-container-itself-two:hover {
    border: 1px solid var(--c-dark-slate);
}

.mortgage-calculator-left-form-input-container-itself-two:focus-within {
    border: 1px solid var(--c-lime);
}

.mortgage-calculator-left-form-input-container-itself-two:focus-within .mortgage-calculator-left-form-input-inner-label {
    color: var(--c-dark-slate);
    background-color: var(--c-lime);
}

/* MORTGAGE TYPE */

.mortgage-calculator-left-form-input-container-two {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.mortgage-calculator-left-form-input-radio-container {
    height: 40px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: white;
    border: 1px solid var(--c-700-slate);
    border-radius: 0.2rem;
    overflow: hidden;
}

.mortgage-calculator-left-form-input-radio-label-itself {
    color: var(--c-dark-slate);
    font-weight: 700;
}

.mortgage-calculator-left-form-input-radio-itself {
    margin-inline: 15px;
}

.mortgage-calculator-left-form-input-radio-container input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid var(--c-dark-slate);
    border-radius: 2rem;
    position: relative;
}

.mortgage-calculator-left-form-input-radio-container input[type="radio"]::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--c-700-slate);
    width: 10px;
    height: 10px;
    border-radius: 2rem;
    display: none;
}

.mortgage-calculator-left-form-input-radio-container input[type="radio"]:checked {
    border: 1px solid var(--c-dark-slate);
}

.mortgage-calculator-left-form-input-radio-container input[type="radio"]:checked::before {
    display: unset;
}

.mortgage-calculator-left-form-input-radio-container:hover {
    border: 1px solid var(--c-lime);
}

.mortgage-calculator-left-form-input-radio-container:focus-within {
    border: 1px solid var(--c-lime);
    background-color: hsla(61, 70%, 52%, 0.1);
}

/* ERROR JS */


.form-input-error-active .mortgage-calculator-left-form-input-container-itself,
.form-input-error-active .mortgage-calculator-left-form-input-container-itself-two {
    border: 1px solid hsl(4, 69%, 50%);
}

.form-input-error-active .mortgage-calculator-left-form-input-svg,
.form-input-error-active .mortgage-calculator-left-form-input-inner-label {
    color: white;
    background-color: hsl(4, 69%, 50%);
}

.form-input-error-active .mortgage-calculator-left-form-input-error {
    display: unset;
}

/* 

    MORTGAGE CALCULATOR RIGHT

*/

.mortgage-calculator-right {
    background-color: var(--c-dark-slate);
    border-bottom-left-radius: 5rem;
}

/* MORTGAGE CALCULATOR RIGHT EMPTY */

.mortgage-calculator-right-empty {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    padding-inline: 30px;
}

.mortgage-calculator-right-empty-hidden {
    display: none;
}

.mortgage-calculator-right-empty-header {
    color: white;
    font-weight: 500;
}

.mortgage-calculator-right-empty-paragraph {
    font-weight: 400;
    text-align: center;
    color: var(--c-300-slate);
    font-size: 0.9rem;
    line-height: 1.7;
}

/* MORTGAGE CALCULATOR RIGHT ITSELF */

.mortgage-calculator-right-itself {
    padding: 30px;
    display: none;
    flex-direction: column;
    row-gap: 10px;
}

.mortgage-calculator-right-itself-active {
    display: flex;
}

.mortgage-calculator-right-itself-header {
    color: white;
}

.mortgage-calculator-right-itself-paragraph {
    font-weight: 400;
    color: var(--c-300-slate);
    font-size: 0.9rem;
    line-height: 1.7;
}

/* MORTGAGE CALCULATOR RIGHT ITSELF OUTPUT */

.mortgage-calculator-right-itself-output {
    background-color: hsl(201, 59%, 11%);
    padding: 30px;
    margin-top: 20px;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.mortgage-calculator-right-itself-output-divider {
    border: 0;
    border-top: 1px solid var(--c-700-slate);
}

.mortgage-calculator-right-itself-output::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--c-lime);
}

.mortgage-calculator-right-itself-output-inner {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.mortgage-calculator-right-itself-output-inner-label {
    color: var(--c-300-slate);
    font-weight: 500;
}

.mortgage-calculator-right-itself-output-inner-main-text {
    color: var(--c-lime);
    font-size: 3rem;
}

.mortgage-calculator-right-itself-output-inner-main-text-two {
    color: white;
}

/* MEDIA QUERIES */

@media (max-width: 950px){
    .mortgage-calculator {
        width: calc(100% - 30px);
    }
}

@media (max-width: 800px){
    .mortgage-calculator {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 0;
        border: 0;
        box-shadow: 0 0 0;
    }
    body {
        background-color: var(--c-dark-slate);
    }
    main {
        align-items: flex-start;
        padding-block: 0;
    }
    .mortgage-calculator-right {
        padding-block: 40px;
        border-radius: 0;
    }
}

@media (max-width: 450px) {
    .mortgage-calculator-left-form-mortgage-term-interest-rate {
        grid-template-columns: 1fr;
        row-gap: 15px;
    }
    .mortgage-calculator-left-form {
        row-gap: 20px;
    }
    .mortgage-calculator-left {
        padding: 20px;
    }
    .mortgage-calculator-left-form-button {
        width: 90%;
    }
}